<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Ma plateforme{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('styles/index.css') }}">
</head>
<body>
{% include 'header.html.twig' %}

<main>
    {% block body %}{% endblock %}
</main>

{% block javascripts %}
    <script src="{{ asset('scripts/index.js') }}"></script>
{% endblock %}
</body>
</html>
