{% extends 'base.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/profile.css') }}">
{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}

    <div class="container">
        <main class="compte">
            <h2>Informations du Compte</h2>
            <section class="informations-profil">
                <p><strong>Nom :</strong> {{ user.nom }}</p>
                <p><strong>Adresse Email :</strong> {{ user.email }}</p>
            </section>

            <section class="modifier-informations">
                <h3>Modifier les Informations</h3>
                <form id="modification-form" method="post" enctype="multipart/form-data">
                    <label for="nouveau_mot_de_passe">Nouveau mot de passe :</label>
                    <input type="password" id="nouveau_mot_de_passe" name="nouveau_mot_de_passe">

                    <label for="confirmer_mot_de_passe">Confirmer le nouveau mot de passe :</label>
                    <input type="password" id="confirmer_mot_de_passe" name="confirmer_mot_de_passe">

                    <label for="nouvelle_adresse_email">Nouvelle adresse email :</label>
                    <input type="email" id="nouvelle_adresse_email" name="nouvelle_adresse_email">

                    <label for="avatar">Téléverser un avatar :</label>
                    <input type="file" id="avatar" name="avatar">

                    <button type="submit">Enregistrer les modifications</button>
                    <p class="message-erreur"></p>
                </form>
            </section>
        </main>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('scripts/profile.js') }}"></script>
{% endblock %}
