{% extends 'cours/base_cours.html.twig' %}

{% set nav = 'participants' %}

{% block cours_content %}
    <div class="add">
        <form action="{{ path('ajouter_participant') }}" method="POST">
            <label for="etudiant"><b>Nouveau participant</b></label>
            <input type="text" name="etudiant" placeholder="Entrez un nom" required id="searchInput">
            <div id="autocomplete-results" class="autocomplete-results"></div>
            <button type="submit" class="add_button">Ajouter</button>
        </form>
    </div>
{% endblock %}

{% block cours_scripts %}
    <script src="{{ asset('scripts/add_participant.js') }}"></script>
{% endblock %}
