{% extends 'cours/base_cours.html.twig' %}

{% block title %}Cours - {{ cours.code }}{% endblock %}

{% set nav = 'cours' %}

{% block cours_content %}
    <div class="d-flex justify-content-center mb-3 pt-2">
        <button class="btn btn-primary d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#myModal" data-bs-backdrop="false">
            <i class="bi bi-plus-lg me-2"></i> Ajouter un message
        </button>
    </div>

    <div id="addedElementsContainer" style="display: none;"></div>

    {% include 'cours/modal_message.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <div id="coursCode" data-cours-code="{{ cours.code }}"></div>
    <script src="{{ asset('scripts/message_ue.js') }}"></script>
{% endblock %}