{% extends 'cours/base_cours.html.twig' %}

{% set nav = 'notes' %}

{% block cours_content %}
    <span class="d-flex justify-content-center mb-3 pt-2">
    <a href="{{ path('ajouter_note') }}" class="btn btn-primary d-flex align-items-center">
        <i class="bi bi-plus-lg"></i> Ajouter une note
    </a>
</span>
{% endblock %}
